#
.env

# python
__pycache__/
*.py[cod]
venv/

# data
*.duckdb
*.wal
*.parquet
*.csv
*.sqlite
*.db
*-journal
*.zip
*.tar.gz
*.xml
*.shp
*.tmp
**/_tiger_tmp/*
*.cpg
*.prj
*.dbf
*.shx

# logs
**/log*
*.log
logs/

# other
s3_sync.md

# LLM instructions (will need to force push if we really want them to be there)
.github/copilot-instructions.md
*.instructions.md
**.AGENTS.md
CLAUDE.md
GEMINI.md