# Database
duckdb
pyodbc
psycopg; platform_system != "Linux"
psycopg[binary]; platform_system == "Linux"

# GIS
fiona
shapely
dbfread
geopandas

# http
httpx
requests
cloudscraper
bs4

# Testing framework
pytest
pytest-cov

# Data analysis and visualization
pandas
jupyter
ipywidgets
nbconvert
matplotlib
