# Database
duckdb
pyodbc
psycopg; platform_system != "Linux"
psycopg[binary]; platform_system == "Linux"
pyarrow

# GIS
fiona
shapely
dbfread
geopandas

# http
httpx
requests
cloudscraper
bs4

# Testing framework
pytest
pytest-cov

# Phonetic encoding
jellyfish
Metaphone

# Data analysis 
pandas
jupyter
ipywidgets
nbconvert

# visualization
matplotlib
pydeck
plotly

# Progress bars
tqdm
